@import '../../assets/scss/variable.scss';

.signin{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(41, 26, 26, 0.72);
  z-index: 999;

  .box{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 1.6rem 3.2rem;
    width: 32rem;
    height: 42rem;
    box-sizing: border-box;
    box-shadow: 0 0 1rem #333;
    background: #fff;
    border-radius: 4px;
  }

  h1, h2{
    font-weight: normal;
  }

  h1{
    margin-bottom: 0;
    font-size: 2.4rem;
  }

  h2{
    margin: 0 0 5rem 0;
    font-size: 1.4rem;
  }

  p{
    margin: 2rem 0;

    label{
      display: inline-block;
      font-size: 1.2rem;
      color: #bbb;
      transform: translateY(-2.4rem);
      transition: all .32s ease;
    }
  }

  input{
    width: 100%;
    height: 2.4rem;
    border: none;
    border-bottom: 1px solid #bbb;
    outline: none;

    &:focus ~ label{
      font-size: 12px;
      transform: translateY(-3.6rem);
    }
  }

  button{
    margin-top: 5rem;
    width: 100%;
    height: 3.6rem;
    border: none;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    background: $baseColor;
    outline: none;

    &:active{
      margin-top: 5.2rem;
      background: #b90909;
      box-shadow: 0 .4rem .6rem #888;
    }
  }
}