html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 1024px;
  height: 100%;
  color: #666;
  font: 12px/1.4 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a{
  color: #666;
  text-decoration: none;
}