@import '../../assets/scss/variable';

.content{
  position: relative;
  top: $headerHeight;
  padding: 10rem 10%;
  background: url('http://s2.music.126.net/style/web2/img/reward/index/banner_disc.jpg?71a1dad57b1b5873775ff4f0073c4fb9') no-repeat;
  background-size: cover;
}

.items{
  display: flex;
  justify-content: space-between;
}

.item{
  width: 18rem;
  height: 22rem;
  line-height: 22rem;
  text-align: center;
  padding: 1rem;
  color: #f1f1f1;
  font-size: 2rem;
  background: rgba(255, 193, 7, 0.9);
  cursor: pointer;

  i{
    font-size: 2rem;
  }

  &:nth-child(2){
    background: rgba(156, 39, 176, 0.9);
  }

   &:nth-child(3){
    background: rgba(76, 175, 80, 0.9);
  }

   &:nth-child(4){
    background: rgba(33, 150, 243, 0.9);
  }

  &:hover{
    animation: pulse .6s ease;
  }
}

@keyframes pulse{
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}