@import '../../assets/scss/variable';

header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 10%;
  height: $headerHeight;
  line-height: $headerHeight;
  // box-shadow: 0 0 1rem #888;
  border-bottom: 4px solid $baseColor;
  box-sizing: border-box;
  background: #fff;

  &:after{
    content: "";
    display: block;
    clear: both;
  }
}

.logo{
  float: left;
  height: 100%;
  font-size: 1.4rem;
  user-select: none;
  cursor: default;

  img{
    margin-right: 1rem;
    width: 3.2rem;
    height: 3.2rem;
    vertical-align: middle;
  }
}

.nav{
  float: left;
  padding: 0 3.6rem;

  a{
    position: relative;
    display: inline-block;
    padding: 0 1.6rem;
    font-size: 1.2rem;

    &:hover{
      color: $baseColor;
    }

    &.active:after{
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 0;
      height: 0;
      border: 1rem solid transparent;
      border-bottom-color: $baseColor;
    }

    &.active{
      color: $baseColor;
    }
  }
}

.search{
  float: right;
  position: relative;

  i{
    position: absolute;
    right: 15rem;
  }

  input{
    padding: 0 .6rem;
    text-indent: 1rem;
    width: 15rem;
    height: 2.4rem;
    border: none;

    &:focus{
      outline: none;
      border-bottom: .1rem solid $baseColor;
    }
  }
}

.user{
  position: relative;
  margin-left: 1rem;
  float: right;
  width: 4rem;
  text-align: right;

  img{
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 4px;
    vertical-align: middle;
  }

  // .info{
  //   position: absolute;
  //   right: 0;
  //   top: 80%;
  //   width: 6rem;
  //   height: 10rem;
  //   box-shadow: 0 0 .6rem #aaa;
  //   border-radius: 4px;
  //   background: #fff;
  //   opacity: 0;
  //   transform: translateY(2rem);
  //   transition: all .32s ease;
  // }

  // &:hover .info{
  //   opacity: 1;
  //   transform: translateY(0);
  // }
}



